body {background-color: #eff7e0; font: normal 85% "trebuchet MS" ,sans-serif;}
h1 { border: solid 1px #3f5f1f; background-color: #7f9760; color: #30501f;}
h2 {color: #30501f;}
h3 {color: #30501f;}

#perm-links ul {list-style: none;}
#perm-links a {border: solid 1px #666666; background-color: #afaf80; color: #ffffff; font-weight: bold; text-decoration: none;}
#perm-links a:hover {background-color: #8f8f60;}

#cool-links { border: solid 0px #000099}
#cool-links ul {list-style: none;}

#main-menu {border: solid 0px #000099;}
#main-menu ul {list-style: none;}
#main-menu  li {border: solid 1px #ffffff;}
#main-menu a {border: solid 1px #666666; background-color: #afaf80; color: #ffffff; font-weight: bold; text-decoration: none; text-align: center;}
#main-menu a:hover {background-color: #8f8f60;}

#content a {color: #30501f; font-weight: bold; text-decoration: none;}
#content a:hover {color: #aa0000; text-decoration: underline;}

#footer { border: solid 1px #3f5f1f; background-color: #7f9760; color: #30501f; text-align: right;}

.mega {margin: 0; margin-top: 2px; margin-bottom: 2px; padding: 0; border: solid 2px #a0d89f; border-bottom: solid 10px #a0d89f; background-color: #e0ffe0; font-size: 90%;}
.mega p {margin: 2px; text-align: left;}
.mega a {color: #0000ff;}
.mega .link {color: #000000; font-weight: bold; text-decoration: none;}

.error {
	color: #ff0000;
}